.sidebar__content {
  transition: left 0.3s ease-in-out;
  width: 18rem;
  left: -18rem;

  display: flex !important;

  .no-underline {
    transition: transform 0.3s ease-in-out;

    > i {
      color: var(--text-color);
    }
  }

  .no-underline:hover {
    transform: scale(1.2);

    > i {
      color: var(--primary-color);
    }
  }
}

@media (min-width: 1024px) {
  .sidebar__content {
    box-shadow: 0.25rem 0.25rem 0.25rem 0 var(--surface-0),
      0.25rem -0.25rem 0.25rem 0 var(--surface-0);
    transform: translateX(0);
    left: 0;
  }
}
