@import "primereact/resources/themes/arya-orange/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

* {
  --font-family: "Oxygen", sans-serif;
}

body {
  background-color: var(--surface-ground);
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.p-component {
  font-family: var(--font-family);
}
